body {
  color: #000;
  font-family:Monospace;
  font-size:13px;
  margin: 0px;
  overflow: hidden;
}

#night_music{
    display: none;
}

.audio{
  display: none;
}

.background_option  .show{
    display: none;
}

#info {
  position: absolute;
  top: 0px; width: 100%;
  text-align:center;
  padding: 5px;
  font-size: 20px;
  color: rgba(0,0,0,0.3);
  margin-top: 20px;
}

a {

  color: #a06851;
}

.daytime{

  width: 80px;
  height: 80px;
  border: 1px solid white;
  position: absolute;
  text-align: center;
  line-height: 80px;
  border-radius: 100%;
  color: white;
  font-size: 20px;
  margin: 20px 0 0 20px;
  cursor: pointer;
}

.night{
  width: 80px;
  height: 80px;
  border: 1px solid white;
  position: absolute;;
  margin: 20px 0 0 120px;;
  text-align: center;
  line-height: 80px;
  border-radius: 100%;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.sunrise{
  width: 80px;
  height: 80px;
  border: 1px solid white;
  position: absolute;;
  margin: 20px 0 0 220px;;
  text-align: center;
  line-height: 80px;
  border-radius: 100%;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.sunset{
  width: 80px;
  height: 80px;
  border: 1px solid white;
  position: absolute;;
  margin: 20px 0 0 320px;;
  text-align: center;
  line-height: 80px;
  border-radius: 100%;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.rainy a{
  width: 80px;
  height: 80px;
  border: 1px solid white;
  position: absolute;;
  margin: 20px 0 0 420px;;
  text-align: center;
  line-height: 80px;
  border-radius: 100%;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}


.modal_trigger{

  width: 80px;
  height: 80px;
  border: 1px solid white;
  position: absolute;;
  margin: 20px 0 0 220px;;
  text-align: center;
  line-height: 80px;
  border-radius: 100%;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/*#modal1 .modal-content{
  width: 1500px;
  height: 90%;
}*/

.daytime:hover, .night:hover, .sunset:hover, .sunrise:hover, .rainy:hover{
  background-color: rgba(255,255,255,0.6);
}
